alabaster
argh
asn1crypto
Babel
breathe
certifi
cffi
chardet
Click
cryptography
defusedxml
docutils
enum34
fett
hieroglyph
idna
imagesize
ipaddress
Jinja2
jira
jsx-lexer
MarkupSafe
oauthlib
onetimepass
packaging
pbr
polib
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
rstcloth
six
snowballstemmer
Sphinx==5.3.0
sphinx-intl
sphinxcontrib-httpdomain
sphinxcontrib-websupport
sphinxcontrib-serializinghtml
sphinxcontrib-htmlhelp
typing
urllib3
Wand
